<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <title>GreenHill's Greenify</title>
</head>
<body>
    <h1>Greenify Advisor Signup</h1>
    <form action="/user/createAdvisor" method="post">
        <!-- first name -->
        <label for="first_name">First name:</label>
        <input name="first_name" type="text" id="first_name" required><br><br>
        <!-- last name -->
        <label for="last_name">Last name:</label>
        <input name="last_name" type="text" id="last_name" required><br><br>
        <!-- username -->
        <label for="username">User name:</label>
        <input name="username" type="text" id="username" requiede><br><br>
        <!-- email -->
        <label for="email">Email:</label>
        <input name="email" type="email" id="email" required><br><br>
        <!-- password -->
        <label for="password">Password:</label>
        <input name="password" type="password" id="password" min="8" required><br><br>
        <!-- photo -->
        <label for="photo">Photo:</label>
        <input name="photo" type="file" id="photo" accept='image/*' required><br><br>
        <!-- submit -->
        <button type="submit">Submit</button>
    </form>







</body>
</html>