<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <title>GreenHill's Greenify</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/user/login" method="post">
    <!-- username -->
    <label for="username">Username:</label>
    <input name="username" type="text" id="username" required><br><br>
    <!-- passwprd -->
    <label for="password">Password:</label>
    <input name="password" type="text" id="password" required><br><br>
    <!-- submit -->
    <button type="submit">Submit</button>
    </form>
</body>
</html>